---
layout: default
title: Home
---
Thank you for stopping by my website. Below are the latest blog posts and links to projects I've worked on. You can also find me on <a href="http://twitter.com/thomallen" target="_blank">Twitter</a>, <a href="http://facebook.com/thomallen" target="_blank">Facebook</a>, and on <a href="http://github.com/thomallen" target="_blank">Github</a>.
<div class="posts">
  {% for post in site.posts | limit: 20 %}
    {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentyear != year %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3>Latest Posts</h3>
      <ul>
      {% capture year %}{{currentyear}}{% endcapture %} 
    {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  <br/>
  View post <strong><a href="{{ site.url }}/archive.html">Archives</a></strong>
</div>
<div class="text-paragraph">
Technology is my world, code mobile and web apps, fiction writer, indie WordPress wrangler, CIO, CTO, Marine, NASCAR, currently fighting cancer. I love to take pictures, but not of cats, I'm allergic.
</div>
<div class="about-me">
<ul>
<li>Work Portfolio: <a href="http://github.com/thomallen" target="_blank">Github</a></li>
<li>Work Experience: <a href="http://linkedin.com/in/thomallen" target="_blank">LinkedIn</a></li>
<li>Social Discussions: <a href="http://twitter.com/thomallen" target="_blank">Twitter</a> | <a href="http://facebook.com/thomallen" target="_blank">Facebook</a></li>
<li>Social Photos: <a href="http://instagram.com/thomallen" target="_blank">Instagram</a></li>
<li>Videos Channel: <a href="http://youtube.com/digitalthom" target="_blank">YouTube</a></li>
</ul>
</div>